body {
    background: red;
}

/* LAYOUT / Struktur */

.wrapper {
    width: 90%;
    max-width: 960px;
    min-height: 600px;
    background: white;

    /* Lägg wrappern i mitten av sidan */
    margin-left: auto;
    margin-right: auto;

}

header{
    background: blue;
}

.logo {
    background: green;
    width: 40%;
    float: left;

}

nav.meny {
    background: pink;
    width: 55%;
    float: right;
}

.imagesbar{
    background: green;
    background-image: url(../images/himmel.png);
    width: 100%;
    height: 300px;

}

nav {}

nav a{

}

